ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

em,
i {
    font-style: normal;
    font-weight: 400;
}

html {
    min-height: 100vh;
}

body {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    font-size: 12px;
    user-select: none;
    /* overflow: hidden; */
    min-height: 100vh;
    zoom: 1;
    color: #76838f;
    min-width: 1200px;
}

body>div {
    /* height: 100%; */
}

#app {
    min-height: 100vh;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.el-scrollbar__view {
    height: 100%;
}

.el-scrollbar__bar {
    z-index: 999999 !important;
}

.drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

div {
    border-width: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes opacityFadeInLeft {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.pause {
    animation-play-state: paused;
}

@-webkit-keyframes fade-scale-02 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
        transform: scale(.2)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes fade-scale-02 {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
        -o-transform: scale(.2);
        transform: scale(.2)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes rotating {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.rotate {
    animation: rotating 1.2s linear infinite;
}

#wrapAll {
    width: 318px;
    height: 486px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 82px;
    margin-left: -159px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-container .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-slide {
    overflow: hidden;
}
