/* 改变主题色变量 */

// $--color-primary: #fd8527;
/* 改变 icon 字体路径变量，必需 */

$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';
@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
.el-collapse-item__header {
  padding-left: 20px;
  background: #f6f9fa;
  line-height: 32px;
  height: 32px;
}

.el-collapse-item__arrow {
  line-height: 32px !important;
}

.el-select--mini {
  width: 130px;
}

.el-input--mini {
  width: 130px;
}

.el-radio-group {
  width: 130px;
  .el-radio+.el-radio {
    margin-left: 0;
  }
  .el-radio__label {
    font-size: 12px;
  }
}

.el-upload-dragger {
  width: 160px;
  height: 50px;
  border-style: none;
  background-color: inherit;
}

.el-notification {
  p {
    word-break: break-all;
  }
}
