ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
em, i{
    font-style: normal;
    font-weight: 400;
}
body {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    font-size: 12px;
    user-select: none;
    overflow: hidden;
}