ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

em,
i {
    font-style: normal;
    font-weight: 400;
}
html{
    height: 100%;
}
body {
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    font-size: 12px;
    user-select: none;
    overflow: hidden;
    height: 100%;
    zoom: 1;
}

body>div {
    /* height: 100%; */
}
#app{
    height: 100%;
}

.el-scrollbar__view{
    height: 100%;
}
.el-scrollbar__bar{
    z-index: 999999!important;
}

.drag-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}